*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: monospace;
  background-color: black;
}

main {
  width: 1000px;
  height: 1000px;
  background-color: blanchedalmond;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

input {
  width: 70px;
}

p {
  margin-left: 20px;
}

.board-field {
  margin: 50px;
  position: relative;
}

.restart-game-button {
  margin: 10px;
  background-color: aquamarine;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
}

.field-basic-style {
  width: 4%;
  height: 40px;
  border: 1px solid black;
  font-size: 12px;
  text-align: center;
  border-radius: 40%;
  padding-top: 15px;
}

.field-basic-style:hover {
  background-color: rgb(233, 191, 56);
}

.field-column {
  display: flex;
}

.transparent {
  background-color: transparent;
}

.white {
  background-image: radial-gradient(
    farthest-corner at 25px 10px,
    white 0%,
    rgb(0, 0, 0) 30%
  );
}

.silver {
  background-image: radial-gradient(
    farthest-corner at 25px 10px,
    white 0%,
    rgb(155, 155, 155) 30%
  );
}

.display-players-turn {
  font-size: 20px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(236, 135, 85);
  display: inline-block;
}

.winner-text {
  position: absolute;
  width: 550px;
  height: 100px;
  z-index: 51;
  top: 65%;
  left: 35%;
  font-size: 50px;
  transform: rotate(45deg);
  background-color: silver;
}

.hide-winner {
  display: none;
}
